<%= button_tag "Sign", :class => "signature_button" %>
<div class="signature_wrapper">
  <div class="signature_box" id="<%= id %>_sig" data-init="false"></div>
  <%= button_tag "Done", :class => "signature_done_button" %>
</div>
